.root{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.root div{
  /* border: 1px solid black; */
}


/*  header */
.root>div:nth-child(1){
  width:100%;
  height:45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.root>div:nth-child(1)>div:nth-child(1){
  width:90%;
  height:75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c8c8c8;
  align-items: center;
}

.root>div:nth-child(1)>div:nth-child(1)>div{
  width:90%;
  height:45%;
  background-color: white;
}

.root>div:nth-child(1)>div:nth-child(2){
  width:40%;
  background-color: #c8c8c8;
  height:10%;
  position: relative;
  right:-100px;

  border-radius: 20px;
}




/* main */
.root>div:nth-child(2){
  width:100%;
  height:45%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


.root>div:nth-child(2)>div{
  width:90%;
  height:45%;
  display: flex;
  justify-content: space-around;
  background-color: #c8c8c8;
  align-items: center;
}


.root>div:nth-child(2)>div>div:nth-child(1){
  background-color: rgb(154, 154, 154);
  width:30%;
  height:80%;
}


.root>div:nth-child(2)>div>div:nth-child(2){
  width:60%;
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(154, 154, 154);
  align-items: center;
}




.root>div:nth-child(2)>div>div:nth-child(2)>div{
  width:90%;
  background-color: #c8c8c8;
  height:20%;
}



/* footer */
.root>div:nth-child(3){
  width:100%;
  background-color: #c8c8c8;
  height:10%;
}